/*定义滚动条的高宽*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/*定义滚动条轨道*/
::-webkit-scrollbar-track {
    background-color: transparent;
}
/*定义滚动条*/
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(60, 60, 60, 0.6);
}
/* 边角，即两个滚动条的交汇处 */
::-webkit-scrollbar-corner {
    background-color: transparent;
}